.site-footer {
  background-color: $site-color;
  color: $white;
  display: flex;
  flex-direction: column;
  padding: $paddingtopbottom;
  justify-content: center;

  p {
    text-align: center;
  }

  &__menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
}
