a {
  text-decoration: none;
  color: $site-color;
  border-bottom: 1px dotted $site-color;
  @include breakpoint(500px) {
    color: red;
    border-bottom: 1px dotted red;
  }
}

blockquote {
  padding-left: 10px;
  border-left: 4px solid $blockquote-color;
  font-style: italic;
  width: 80%;
  margin: 0 auto 1.5rem;
}
