.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1rem;
}
@for $i from 1 through 12 {
    .col-sm-#{$i} {
        grid-column: auto / span $i;
    }

    .col-md-#{$i} {
        grid-column: auto / span 12;
        @media (min-width: 531px) {
            grid-column: auto / span $i;
        }
    }

    .col-lg-#{$i} {
        grid-column: auto / span 12;
        @media (min-width: 901px) {
            grid-column: auto / span $i;
        }
    }
}
